@media only screen and (max-width: 1000px) {
  body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    user-select: none;
  }

  #mobileSection {
    display: block;
  }

  #pcSection, #startTime, #endTime, #name, #reason {
    display: none;
  }

  #mobileContainer {
    width: 90vw;
    height: 80vh;
    box-shadow: 0px 0px 14px 6px rgba(217,217,217,1);
    border-radius: 10px;
    margin-top: -15%;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    user-select: none;
    font-size: 120%;
  }

  header span {
    margin: 2% 0 2% 0;
    width: 13vw;
    text-align: center;
  }

  #contentWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 71vh;
  }

  #contentWrapper div div {
    width: 13vw;
    text-align: center;
    display: inline-block;
    margin: 0.75% 0;
  }

  #buttonWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #0f5fa6;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
  }

  button {
    display: block;
    margin: 0;
    padding: 20px;
    width: 100%;
    background: #0f5fa6;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
    border-radius: 0px !important;
    position: relative;
    border: none;
    left: 0;
    bottom: 0;
  }

  button:hover {
    background-color: #00498a;
  }
}
