@media only screen and (max-width: 1000px) {
  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    user-select: none;
  }

  input[type="date"], input[type="time"], input[type="text"] {
    outline: none;
    border: none;
    border-bottom: lightgray 2px solid;
    height: 3vw;
    width: 85vw;
    display: block;
    font-size: 100%;
    transition: border-bottom 250ms ease;
    cursor: text;
    padding: 0;
  }

  span {
    user-select: none;
  }

  #nameLBL, #reasonLBL {
    user-select: none;
    position: relative;
    left: 0;
    transition: font-size 250ms, top 250ms;
    pointer-events: none;
    font-weight: 100;
    font-size: 12pt;
    top: 1vw;
    font-family: 'Roboto', sans-serif;
  }

  input:focus {
    border-bottom: darkblue 2px solid;
  }

  input:focus {
    border-bottom: darkblue 2px solid;
  }

  #buttonWrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #0f5fa6;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
  }

  button {
    display: block;
    margin: 0;
    padding: 20px;
    width: 50%;
    background: transparent;
    color: white;
    border: none;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
    border-radius: 0px !important;
  }

  button:hover {
    background-color: #00498a;
  }

  #errorField {
    position: absolute;
    bottom: 17%;
    color: red;
  }
}
